# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
*.exp

*~

# build directory
/build

# tag file
/tags

# my private
/scripts
/mytest

# python
__pycache__
*.pyc

# example
examples/*
!examples/*.[ch]
!examples/Makefile
!examples/nmakefile

